header {
    height: 15vh;
    background-color: #4B5563;
    color: #F1F5F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #10B981;
    color: #FFFFFF;
    height: 70vh;
}

fieldset {
    background-color: #F59E0B;
    color: #1F2937;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

div {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

footer {
    background-color: #6B21A8;
    color: #F3E8FF;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}
